body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    background-color: rgb(233, 243, 243);
}

/* HEADER stays at top (auto height) */
header {
    padding: 5px;
    background-color: rgb(236, 209, 185);
}

/* MAIN is a flex row */
main {
    display: flex;
    flex-direction: row;
    flex: auto;
}

/* ARTICLE takes 2/3 width */
article {
    flex: 2;
    padding: 20px;
    overflow-y: auto;
}

/* ASIDE takes 1/3 width */
aside {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
    background: #f3f3f3;
}

/* HEADER TOP AREA (NAV + LOGO) */
.header-top {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 25px;
}

/* NAVIGATION STYLE */
.header-top nav ul {
    list-style: none;
    display: flex;
    gap: 25px;
    padding: 0;
}

.header-top nav ul li a {
    text-decoration: none;
    font-weight: bold;
    color: #000;
}

/* LOGO */
.alx-logo img {
    width: 60px;
    height: auto;
}
/* Table */
        table {
            width: 30%;
            border-collapse: collapse;
            background-color: #f3f3f3;
        }

        table, th, td {
            border: 1px solid #ccc;
        }

        th, td {
            padding: 8px 12px;
            text-align: left;
        }

        th {
            font-weight: bold;
        }